@import "tailwindcss";
.glitch-text {
  position: relative;
  animation: glitch 2s infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 2px 0 red, -2px 0 blue;
  }
  20% {
    text-shadow: -2px 0 red, 2px 0 blue;
  }
  40% {
    text-shadow: 2px 0 blue, -2px 0 red;
  }
  60% {
    text-shadow: -2px 0 blue, 2px 0 red;
  }
  100% {
    text-shadow: 2px 0 red, -2px 0 blue;
  }
}
